@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Object>
<h2>Index</h2>
<h3>Current trips:</h3>
<p>Model</p>

@foreach (var item in Model)
{
@Html.DisplayFor(model => item.ToString())
}
