@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Model string;
<h2>Index</h2>
<h3>Current trips:</h3>
<p>Model</p>
<!--foreach (var str in Model){<li class="blue"><a href="#">str</a></li>}-->
